* {
  margin: 0;
  padding: 0;
}

#main-page-container {
  display: flex;
  background-color: #ddd;
  height: 100vh;
  width: 100vw;
}

#page-logo {
  width: 100px;
  margin-top: 40px;
  margin-bottom: 50px;
}

nav {
  min-width: 200px;
  background-color: #666;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#main-page-container nav h2 {
  color: #fff;
  margin-top: 30px;
}

ul {
  list-style: none;
}

nav ul li a {
  background-color: #4A90E2;
  display: inline-block;
  width: 150px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 10px;
}

nav ul li a:hover {
  background-color: #709ed3;
}

nav ul li a:active {
  background-color: #365b85;
}

.sub-page-title {
  margin-top: 25px;
  margin-right: 20px;
}

.sub-page-container {
  width: 100%;
}

header {
  height: 100px;
  background-color: #4A90E2;
  display: flex;
  justify-content: flex-end;
  color: #fff;
  margin-bottom: 35px;
}

.page-main-section {
  display: flex;
}
